fly2p/.DS_Store
.DS_Store
fly2p/sample/.ipynb_checkpoints/*.*
fly2p/scripts/.ipynb_checkpoints/*.*
fly2p/preproc/.ipynb_checkpoints/*.*
fly2p/viz/.ipynb_checkpoints/*.*

fly2p/sample/*.*
!fly2p/sample/SS96-x-7f_EB_sample.tif
fly2p/sample/img/*.*
*.pdf
*.pyc
